/* src/pages/Home/Home.css */

/* Container for the entire page */
.home-container {
  display: flex;
  flex-direction: column;
  /* subtle zen-gradient for background */
  background: linear-gradient(135deg, #f5f0e6, #ffe4b3); 
  text-align: center;
  /* fill full viewport minus nav bar */
  min-height: calc(100vh - 75px); 
  overflow-y: auto; 
  -webkit-overflow-scrolling: touch;
  padding: 20px;
}


/* Hero section (full viewport minus nav bar) */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.hero-title {
  font-size: 56px;
  color: #3a393f;
  font-family: 'Segoe UI', Roboto, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  transition: transform 0.4s ease, color 0.4s ease;
  margin: 0 0 1px 0;   
}

.hero-subtitle {
  font-size: 20px;
  color: #5a4f3c;
  line-height: 1.5;
  margin: 0 0 15px 0;    
}

/* Call-to-action button container*/
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
/* Call-to-action buttons */
.cta-btn {
  padding: 14px 14px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: #a08605c1;
  color: white;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}
.cta-btn:hover {
  background-color: #8c6c04;
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}
.cta-btn.secondary {
  background-color: #3a393f;
}
.cta-btn.secondary:hover {
  background-color: #292728;
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

/* Products section below hero */
.products-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 30px
}
.product-card {
  background: rgba(255,255,255,0.85);
  padding: 0rem 12px;
  border-radius: 20px;
  max-width: 320px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  justify-content: center;
  text-align: center;
}
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 28px rgba(0,0,0,0.12);
}
.product-card h2 {
  font-size: 1.6rem;
  margin: 8px 0px;
  color: #3a393f;
  font-weight: 700;
}
.product-card p {
  font-size: 1rem;
  color: #4a4a4a;
  margin: 10px 0px 10px 0px;
  line-height: 1.6;
}
